main {
  padding: 4vh 6.94vw;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.photograph-header .profile-div {
  margin: 0 0 0 3.5vw;
}
.photograph-header .profile-div h1 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
}
.photograph-header .profile-div .location {
  font-size: 24px;
  color: #901c1c;
}
.photograph-header .profile-div .tagline {
  color: #525252;
  margin: 2vh 0 0 0;
}
.photograph-header img {
  width: 10.4vw;
  height: 20vh;
  border-radius: 50%;
  margin: 0 3.5vw 0 0;
}
.photograph-header .contact-button {
  padding: 11px;
  width: 11.798vw;
  height: 7vh;
}

button,
.submit {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover, button:focus,
.submit:hover,
.submit:focus {
  background-color: #db8876;
  color: black;
}

.dropdown-div {
  margin: 2vh 0 0 0;
}
.dropdown-div label {
  font-weight: bold;
}
.dropdown-div select,
.dropdown-div select option {
  background-color: #901c1c;
  color: white;
  width: 11.798vw;
  height: 7vh;
  border-radius: 5px;
}

dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}

.flex-modal-wrapper,
.carousel-modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-container {
  border-radius: 5px;
  width: 46vw;
  height: 90vh;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5% 3.5% 0;
}
#contact-container::backdrop {
  background-color: rgba(209, 19, 19, 0.1529411765);
}
#contact-container #header-wrapper-contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
#contact-container #header-wrapper-contact h1 {
  font-size: 64px;
  color: black;
  margin: 0px;
  width: 70%;
}
#contact-container #header-wrapper-contact img {
  flex: 0;
  margin-top: 2vh;
}
#contact-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3vh;
}
#contact-container form label {
  color: #312e2e;
  font-size: 36px;
}
#contact-container form input {
  width: 100%;
  height: 7vh;
  border-radius: 5px;
}
#contact-container form input::placeholder {
  font-size: 36px;
}
#contact-container form #message-input {
  height: 16vh;
}
#contact-container form #message-input::placeholder {
  font-size: 36px;
}
#contact-container form .submit {
  margin-top: 3vh;
  width: 28%;
}
#contact-container form .submit:hover, #contact-container form .submit:focus {
  border: solid black 2px;
  transition: all 0.3s;
}

header {
  justify-content: space-between;
  width: 100%;
}
header img {
  cursor: pointer;
}
header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 7vw;
  justify-content: space-between;
  align-items: center;
}

.content-card {
  width: 21vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
}
.content-card img,
.content-card video {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 5px;
}
.content-card .header-wrapper {
  height: 15%;
  display: flex;
  align-items: center;
}
.content-card .header-wrapper .content-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-card .header-wrapper .content-header img {
  width: 18px;
  height: 18px;
  color: #901c1c;
}
.content-card .header-wrapper .content-header p {
  font-size: 24px;
  color: #901c1c;
}
.content-card .header-wrapper .content-header .likes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.likes-div {
  position: fixed;
  width: 21vw;
  height: 7vh;
  background-color: #db8876;
  bottom: 0;
  right: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.likes-div p {
  color: black;
  font-size: 24px;
}
.likes-div .likes-counter {
  display: flex;
}
.likes-div .likes-counter img {
  margin-left: 5px;
  color: black;
}

#carousel-container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0);
}
#carousel-container ul {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
#carousel-container ul li {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel-container ul li img,
#carousel-container ul li video {
  height: 76vh;
  object-fit: cover;
}
#carousel-container .arrow {
  position: absolute;
  top: 45vh;
  cursor: pointer;
}
#carousel-container #left-arrow {
  left: 10vw;
}
#carousel-container #right-arrow {
  left: 83vw;
}
#carousel-container #close-carousel {
  position: absolute;
  top: 5vh;
  left: 85vw;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 2vh;
}
.dropdown .dropdown-button {
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 12vw;
  height: 7vh;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
}
.dropdown .dropdown-content .dropdown-item {
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
